# some defaults
.DS_Store
.vscode

terraform.tfvars

# dirs
#/exclude/*

# terraform files
.terraform*
.terraform/
**/.terraform*
**/.terraform/
**/terraform.tfstate*

*tfstate*
*tfvars
*tfvars.json
*.p12
*.crt
.terraform*
*.kubeconfig
id_rsa*
*.qcow2
*.log